---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import PostLayout from "../layouts/PostLayout.astro";
---

<!-- <BaseLayout title = "ResearchStatement" sideBarActiveItemID="researchstatement">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Research Statement</div>
    <div class="bg-white shadow-md rounded-lg p-6 mb-5">
        <img src="/path.webp" alt="Inspiration behind research" style="width: 800px;height: 250px;length: 200 px;" class="w-full h-auto rounded-lg mb-5">
        <p class="text-base leading-relaxed mb-4">
  </div> -->
<PostLayout
  title = "American Sign Language - Cooperative learning"
>
<img src="/cooplearn.png" alt="Example Image" width="500" height="500" /> 
The proposed approach uses <a href=""> Hybrid Automata learning </a> to extract the Expert Movement Dynamical System Variation Model and uses a learner model to evaluate the correctness of the gesture.
<img src="/shapes.png" alt="Example Image" width="500" height="500" /> 
<a class="btn" href="https://scholar.google.com/citations?user=PrA5kmYAAAAJ&hl=en" target="_blank"> Published Paper</a>
</PostLayout>




