---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import PostLayout from "../layouts/PostLayout.astro";
---

<!-- <BaseLayout title = "ResearchStatement" sideBarActiveItemID="researchstatement">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Research Statement</div>
    <div class="bg-white shadow-md rounded-lg p-6 mb-5">
        <img src="/path.webp" alt="Inspiration behind research" style="width: 800px;height: 250px;length: 200 px;" class="w-full h-auto rounded-lg mb-5">
        <p class="text-base leading-relaxed mb-4">
  </div> -->
<PostLayout
 title ="Research Statement"
  heroImage = "/path.webp"
>
My passion and eagerness to advancing the state-of-the-art in safety and accessibility of intelligent systems started from a personal experience. Growing up, my best friend struggled with T1D diabetes because of lack of awareness and access to innovative technology that could have improved the quality of her life. As a result, I have developed a long-lasting inspiration and dedication to contribute to the development of intelligent and safe systems that improve lives and to raise awareness through presenting research outcomes around the world.
<br>
During my journey in the automotive industry, I have deepened my expertise of real- world behavior of safety-critical systems. I have experienced the different challenges that arise from the development of user-centered technologies which require rigorous testing, data analysis, and integration of user-centric design principles, skills that align closely with my broader research interests in AI and safety engineering.
<br>    
My academic path began during undergraduate studies, where I worked on a project for error detection through an internship at the <a href="https:snrt.ma">Moroccan National Television (SNRT)</a>. 
My graduate research advised by <a href="https://uwf.edu/centers/center-for-cybersecurity/about-the-center/meet-the-team/dr-guillermo-francia-iii.html">Dr. Guillermo Francia</a>furthered my knowledge in cybersecurity, where I modeled errors and cyberattacks on Supervisory Control and Data Acquisition (SCADA) systems. These experiences equipped me with the necessary knowledge, modeling and simulation skills, complex control systems structure, laying the groundwork for my doctoral research.
During my doctoral studies, I joined the <a href="https://www.fda.gov">Food and Drug Administration</a> as a research fellow where I had the opportunity to work on the development of data-driven operational models for personalized control of blood glucose, a project supported by the <a href= "https://orise.orau.gov" >Oak Ridge Institute for Science and Education (ORISE)</a>. This work resulted in a patented approach for learning subject-specific parameters to enhance the performance of artificial pancreas systems through personalized control. 
My dissertation studies, advised by <a href="https://impact.lab.asu.edu">Dr. Sandeep Gupta</a> also address the operational model learning for the safety verification of medical devices. It is based on learning an operational model from input/output traces collected during field operation. The learned model is used to ensure that the operational safety analysis results conform with the safety-certified specifications of the system. The learned model
has the potential to facilitate the detection and analysis of potential system and human- in-the-loop errors that may not have been detected during design and testing phases, e.g. the Volkswagen defeat software. 
<br>
My long-term goal includes building and leading research projects that focus on addressing the disparities across diverse population in the usability of intelligent systems. I aim to study the bi-directional impact between intelligent systems’ behavior and the contingent behavior of a specific population. I have a particular interest in developing user-centric intelligent systems that can be personalized to suit specific needs and characteristics of underserved minority groups. These systems will integrate supervised machine learning methods with real-world user data to dynamically adapt to individual needs, ensuring both safety and improved performance.
My work will advance knowledge about real-world system behavior, improve safety outcomes, and reduce disparities in technology awareness and performance.
<br>
My interdisciplinary research advances the state-of-the-art in operational safety of intelligent systems and contribute to addressing equity and reducing disparities in intelligent system’s development to ensure safe usage. 
</PostLayout>




