---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
  </div>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Tutorial/Poster/Special Session</div>
  </div>
  <div class="mb-10 text-justify">
    • “Operational Safety Verification of Cyber Physical Industry 4.0 Applications.” <b>IEEE ICPS Special Session, 2021.</b>  
    <br>
    • Ensuring Safety and Establishing Trust for AI-enabled Cyber-Physical Systems.”<b>IEEE ICPS Tutorial, 2021.</b> 
    <br>
    • “Ensuring Safety and Establishing Trust for AI-enabled Cyber-Physical Systems.” <b> IEEE ICPS Tutorial, 2020. </b>
    <br>
    •“Toward Operational Safety Verification of AI-Enabled CPS (student abstract).”<b> AAAI - SafeAI Poster 2020.</b>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Talks and Presentations</div>
  </div>
  <div class="mb-10 text-justify">
    • "Model Learning for Runtime Safety Verification of AI-based CPS" <b> Knight Foundation School of Computing Information Sciences - Florida International University, 2025.</b>
    <br>
    • "Model Learning for Runtime Safety Verification of AI-based CPS" <b> IEEE/CVF Winter Conference on Applications of Computer Vision (WACV), 2025.</b>
    <br>
    • "AI in Healthcare" <b>Department of Commerce - Purdue University. Artificial Intelligence Webinar, 2023.</b>
    <br>
    • “Model Learning for Runtime Safety Verification”<b> Children Hospital of Los Angeles, 2022.</b>
    <br>
    • “Ensuring Safety and Establishing Trust for AI-enabled Cyber-Physical Systems”<b> IEEE Industrial CPS 2021.</b>
    <br>
    • “AI Enabled Tutor for Accessible Training”, <b>Apple Education Team 2020.</b>
    <br>
    • “Operational Safety Verification of AI-enabled Cyber-Physical Systems”, <b>IST Austria 2020.</b>
    <br>
    • “Ensuring Safety and Establishing Trust for AI-enabled Cyber-Physical Systems”, <b>IEEE Industrial CPS 2020.</b>
    <br>
    • “Operational Safety Verification of AI-enabled Cyber-Physical Systems”, <b>Long Island University 2020.</b>
    <br>
    • “Toward Operational Safety Verification Via HA Mining Using I/O Traces of AI-Enabled CPS”, <b>AAAI  2020.</b>
    <br>
    • “Generation of Movement Explanations for Testing Gesture Based Co-operative Learning Applications”, <b>AITest .</b>
    <br>
    • “HyMn: Mining Linear HA from Input/Output Traces of Cyber-Physical Systems”, <b>IEEE Industrial CPS 2018.</b>
    <br>
    • Robust Controller Software Synthesis for NL Safety-Critical Cyber-Physical Systems”, <b>FADEx-CPS Seminar  2016.</b>
</div>
<div class="text-3xl w-full font-bold">Reviewer</div>
</div>
<div class="mb-10 text-justify">
Frontiers In Digital Health, IEEE Transactions on Industrial Informatics, IEEE Industrial Electronics Society IECON, WACV Workshop, IGI Global Book Chapter 